target/
target-gnu/
node-cache/

server-stdout.log
server-stderr.log

**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/

examples/**/out/

.DS_Store
Thumbs.db
